---
---

@import "{{ site.theme }}";
.image-wrapper {
    text-align: center;

    .image-caption {
        color: $grey-color;
        margin-top: $spacing-unit / 3;
    }
}
img + em { display: block; text-align: center;}
