---
layout: default

---
 <p> Merhaba, Web3 teknolojileri ve hayatımıza etkileri. Her ay altı yazı. İki de kitap: <a href="https://turansert.com/Etkinlikler/">{{ "Sorularla Blockchain" }}</a> ve <a href="https://turansert.com/Etkinlikler/">{{ "Sorularla DeFi - Merkeziyetsiz Finans" }}</a>  </p>
 <p> Blockchain teknolojileri ile ilgili temel yazılar burada <a href="https://turansert.com/Etkinlikler/">{{ "burada" }}</a> </p>
 <p> DeFi ile ilgili temel bilgiler <a href="https://turansert.com/Etkinlikler/">{{ "burada" }}</a> </p>
 <p> Program yayınları <a href="https://turansert.com/Etkinlikler/">{{ "burada" }}</a> </p>
 <p> Yayınladığım kitapları ücretsiz edinmek için link <a href="https://turansert.com/Etkinlikler/">{{ "burada" }}</a> </p>

<div class="home">
  
&nbsp;
  
  {{ content }}
  
&nbsp;
  
&nbsp;
 
  <h2 class="page-heading"></h1>



  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        
        <p>{{ post.excerpt }} <a href="{{ post.url | relative_url }}">{{ "Devamı" }}</a> </p>
        
        &nbsp;
        
        
        
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
