---
layout: default

---
 <p> Web3 teknolojileri ve hayatımıza etkileri ile ilgili karalamalar</p>
 <p> 👉  Kitaplarım için linkler <a href="https://turansert.com/Kitaplar/">{{ " burada" }}</a> </p>
 <p> 👉  Blockchain konusunda temel yazılarım <a href="https://turansert.com/blockchain/">{{ " burada" }}</a> </p>
 <p> 👉  DeFi ile ilgili yazılarım <a href="https://turansert.com/defi/">{{ " burada" }}</a> </p>
 <p> 👉  Diğer Web3 projeleri ile ilgili yazılarım <a href="https://turansert.com/diger_web3/">{{ " burada" }}</a> </p>
 <p> 👉  Katıldığım programlar <a href="https://turansert.com/Etkinlikler/">{{ " burada" }}</a> </p>
 <p> 👇  Tüm yazılar yeniden eskiye aşağıda </a> 👇 </p>
 <p> ------------------------------------------- </p>

<div class="chatgpt-box">
  <h3>Web3 Hakkında Merak Ettiklerin mi Var?</h3>
  <p>Blockchain, DeFi, NFT... Hepsini sorabilirsin.</p>
  <a href="https://chat.openai.com/gpts?gpt=turan-sert-web3" target="_blank">GPT Asistanımı Aç</a>
</div>


<div class="home">
  
&nbsp;
  
  {{ content }}
  
&nbsp;
  
&nbsp;
 
  <h2 class="page-heading"></h1>



  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        
        <p>{{ post.excerpt }} <a href="{{ post.url | relative_url }}">{{ "Devamı" }}</a> </p>
        
        &nbsp;
        
        
        
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
