---
layout: default
---

<div class="post">
 <h1>{{ page.tag }}</h1>
 
  <h2 class="page-heading"></h1>



  <ul class="post-list">
   {% for post in site.tags[page.tag] %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        
        <p>{{ post.excerpt }} <a href="{{ post.url | relative_url }}">{{ "Devamı" }}</a> </p>
        
        &nbsp;
        
        
        
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
